<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>E-Commerce Website</title>
</head>

<body>
    {{> nav}}
    <div style="min-height: 80vh;">
        <h1>ADMIN</h1>
        <p>Admin ok.</p>
        <!-- <p>{{user}}</p> -->
    </div>

    {{>footer}}
</body>

</html>