<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>E-Commerce Website</title>
</head>

<body>
    {{> nav}}
    <div style="min-height: 80vh;">
        <h1 style="padding: 2rem; text-align: center;">Admin Area</h1>
        <div
            style="min-height: 80vh; display: flex; flex-direction: column; align-items: center; justify-content: center;">

            <div class="auth_content">
                <form method="post" action="/category">
                    <h2 class="form_title">Add new Category</h2>
                    <p class="auth_p">Make new categories available</p>
                    <div class="form_group">
                        <input type="text" name="category" id="category" placeholder="Category Name" required
                            class="form_input" />
                    </div>

                    <div class="form_group">
                        <button class="form_btn">
                            Add Category
                        </button>
                    </div>
                </form>
            </div>
            <hr>
            <div class="auth_content">
                <form method="post" action="/product">
                    <h2 class="form_title">Add new Product</h2>
                    <p class="auth_p">Make new products available</p>
                    <div class="form_group">
                        <input type="text" name="title" id="title" placeholder="Title" class="form_input" required />
                    </div>
                    <div class="form_group">
                        <input type="text" name="description" id="description" placeholder="Description"
                            class="form_input" required />
                    </div>
                    <div class="form_group">
                        <input type="text" name="image" id="image" placeholder="Image Url" class="form_input"
                            required />
                    </div>
                    <div class="form_group form_pass">
                        <input type="number" name="quantity" id="quantity" placeholder="Quantity" class="form_input"
                            required />
                    </div>
                    <div class="form_group form_pass">
                        <input type="number" name="price" id="price" placeholder="Price" class="form_input" required />
                    </div>

                    <div style="padding: 0 0 2rem 0;">
                        <select id="category" name="category">
                            {{#categories}}
                            <option value="{{id}}">{{category}}
                            </option>
                            {{/categories}}
                        </select>
                    </div>



                    <div class="form_group">
                        <button class="form_btn">
                            Add Product
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {{>footer}}
</body>

</html>