<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://unpkg.com/scrollreveal"></script>
  <link rel="stylesheet" href="./css/styles.css" />
  <title>Cart - Exclusive E-Commerce Website</title>
</head>

<body>
  {{>nav}}

  <section class="section">
    <div class="container">
      <div class="cart">
        <div class="cart_header">
          <p class="cart_header_id">Product ID</p>
          <p class="cart_header_title">Product Title</p>
          <p class="cart_header_image">Product Image</p>
          <p class="cart_header_price">Price</p>
          <p class="cart_header_delete">Delete</p>
        </div>
        <div class="cart-items"></div>
      </div>
    </div>
  </section>

  {{>footer}}
  <script src="./js/cart.js"></script>
</body>

</html>