<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Home - Exclusive E-Commerce Website</title>
</head>
<body>
    <div class="top_nav">
        <div class="container top_nav_container">
            <div class="top_nav_wrapper">
                <p class="tap_nav_p">
                    Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!
                </p>
                <a href="#" class="top_nav_link">SHOP NOW</a>
            </div>
        </div>
    </div>
    <nav class="nav">
        <div class="container nav_container">
            <a href="/" class="nav_logo">EXCLUSIVE</a>
            <ul class="nav_list">
                <li class="nav_item"><a href="/" class="nav_link">Home</a></li>
                <li class="nav_item"><a href="#" class="nav_link">About</a></li>
                <li class="nav_item"><a href="#" class="nav_link">Contact</a></li>
                <li class="nav_item"><a href="/auth/login" class="nav_link">Sign up</a></li>
            </ul>
            <div class="nav_items">
                <form action="#" class="nav_form">
                    <input type="text" class="nav_input" placeholder="search here...." />
                    <img src="/images/search.png" alt="" class="nav_search" />
                </form>
                <img src="/images/heart.png" alt="" class="nav_heart" />
                <a href="/cart">
                    <img src="/images/cart.png" alt="" class="nav_cart" />
                </a>
            </div>
            <span class="hamburger">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </span>
        </div>
    </nav>
    <nav class="mobile_nav mobile_nav_hide">
        <ul class="mobile_nav_list">
            <li class="mobile_nav_item"><a href="/" class="mobile_nav_link">Home</a></li>
            <li class="mobile_nav_item"><a href="#" class="mobile_nav_link">About</a></li>
            <li class="mobile_nav_item"><a href="#" class="mobile_nav_link">Contact</a></li>
            <li class="mobile_nav_item"><a href="/auth/login" class="mobile_nav_link">Sign Up</a></li>
            <li class="mobile_nav_item"><a href="/cart" class="mobile_nav_link">Cart</a></li>
        </ul>
    </nav>
    <header class="header">
        <div class="container header_container">
            <div class="header_filter">
                <a href="#" class="header_filter_link">Woman’s Fashion</a>
                <a href="#" class="header_filter_link">Men’s Fashion</a>
                <a href="#" class="header_filter_link">Electronics</a>
                <a href="#" class="header_filter_link">Home & Lifestyle</a>
                <a href="#" class="header_filter_link">Medicine</a>
                <a href="#" class="header_filter_link">Sports & Outdoor</a>
                <a href="#" class="header_filter_link">Baby’s & Toys</a>
                <a href="#" class="header_filter_link">Groceries & Pets</a>
                <a href="#" class="header_filter_link">Health & Beauty</a>
            </div>
            <img src="/images/header.png" alt="" class="header_img" />
        </div>
    </header>
    <section class="section">
        <div class="container">
            <div class="section_category">
                <p class="section_category_p">Today's</p>
            </div>
            <div class="section_header">
                <h3 class="section_title">Flash Sale</h3>
                <p id="demo"></p>
            </div>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    {{#products}}
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card_top">
                                <img src="/images/items/item-{{id}}.png" alt="" class="card_img" />
                                <div class="card_tag">-40%</div>
                                <div class="card_top_icons">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                                    </svg>
                                </div>
                            </div>
                            <div class="card_content">
                                <h3 class="card_title">{{name}}</h3>
                                <p class="card_price">${{price}}</p>
                                <p class="card_desc">{{description}}</p>
                                <a href="#" class="card_btn">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                    {{/products}}
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>
