<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://unpkg.com/scrollreveal"></script>
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <link rel="stylesheet" href="../css/styles.css" />
  <title>E-Commerce Website</title>
</head>

<body>
  {{>nav}}

  <section class="section">
    <div class="auth_container">
      <div class="auth_img">
        <img src="../image/auth-image.png" alt="" class="auth_image" />
      </div>
      <div class="auth_content">
        <form action="/auth/login" method="post">
          <h2 class="form_title">Login to your account</h2>
          <p class="auth_p">Enter your details below</p>
          <div class="form_group">
            <input type="email" name="email" id="email" placeholder="Email" class="form_input" />
          </div>
          <div class="form_group form_pass">
            <input type="password" name="password" id="password" placeholder="Password" class="form_input" />
          </div>
          <div class="form_group">
            <button class="form_btn">
              Login
            </button>
          </div>
          <div class="form_group">
            <span>Don't have an account?
              <a href="/auth/sign-up" class="form_auth_link">Register</a></span>
          </div>
        </form>
      </div>
    </div>
  </section>

  {{> footer}}

</body>

</html>