<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>E-Commerce Website</title>
</head>

<body>
    {{> nav}}
    <div style="min-height: 80vh; display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <div class="auth_content">
            <form action="/profile" method="post">
                <h2 class="form_title">Your Profile</h2>
                <p class="auth_p">Update your details</p>
                <div class="form_group">
                    <input type="text" name="name" id="name" placeholder="Name" class="form_input"
                        value="{{user.name}}" />
                </div>
                <div class="form_group">
                    <input type="email" name="email" id="email" placeholder="Email" class="form_input"
                        value="{{user.email}}" />
                </div>
                <div class="form_group">
                    <button class="form_btn">
                        Update
                    </button>
                </div>
            </form>
        </div>
        <div class="auth_content">
            <form action="/profile/delete" method="post">
                <h2 class="form_title">Delete your account</h2>
                <div class="form_group">
                    <button class="form_btn">
                        Delete account
                    </button>
                </div>
            </form>
        </div>
    </div>

    {{>footer}}
</body>

</html>